#container {
  background: yellow;
  height: 343px;
  width: 448px;
  margin: 0% auto;
  border-radius: 5%
  /*position: relative;*/
}
.token {
  height: 50px;
  width: 50px;
  background: blue;
  border-radius: 50%;
  margin: 5px 3px;
}
.column {
  height: 335px;
  width: 56px;
  border: 1px solid white;
  padding: 3px;
  margin: auto;
  display: inline-block;
}
#nav {
  height: 2em;
  width: 448px;
  /*border: 1px solid black;*/
  margin: 1em auto;
}
.buttonstyle {
  height: 2em;
  width: 30px;
  background: yellow;
  margin: 6px 17px;
  border-radius: 20%;
  display: inline-block;
}
.buttonstyle:hover {
  background: red;
}
